In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
county_unemployment_file = os.path.join("County_Unemployment.csv")
countyUnemployment = pd.read_csv(county_unemployment_file)
countyUnemployment

,CO,NAME,LBF,UE19B,PU19B,UE07MAR,PU07MAR,UE14MAR,PU14MAR,UE21MAR,...,UE04APR,PU04APR,UE11APR,PU11APR,UE18APR,PU18APR,UE25APR,PU25APR,UE02MAY,PU02MAY
0,1001,Autauga County,25819,673,2.61,694,2.69,718,2.78,862,...,3336,12.92,4358,16.88,5234,20.27,6222,24.10,6593,25.54
1,1003,Baldwin County,102814,2688,2.61,2780,2.70,2881,2.80,3487,...,13934,13.55,18248,17.75,21945,21.34,26117,25.40,27685,26.93
2,1005,Barbour County,9431,353,3.74,361,3.83,370,3.92,424,...,1359,14.41,1745,18.50,2076,22.01,2450,25.98,2590,27.46
3,1007,Bibb County,8679,268,3.09,275,3.17,282,3.25,328,...,1122,12.93,1450,16.71,1731,19.94,2048,23.60,2167,24.97
4,1009,Blount County,22196,580,2.61,596,2.69,615,2.77,724,...,2613,11.77,3392,15.28,4061,18.30,4815,21.69,5098,22.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,23394,785,3.36,828,3.54,871,3.72,1172,...,2236,9.56,2713,11.60,3074,13.14,3362,14.37,3528,15.08
3138,56039,Teton County,14991,569,3.80,608,4.06,647,4.32,919,...,1883,12.56,2314,15.44,2640,17.61,2901,19.35,3052,20.36
3139,56041,Uinta County,10019,322,3.21,341,3.40,360,3.59,494,...,969,9.67,1181,11.79,1342,13.39,1470,14.67,1545,15.42
3140,56043,Washakie County,3888,176,4.53,182,4.68,189,4.86,235,...,399,10.26,473,12.17,528,13.58,572,14.71,598,15.38
3141,56045,Weston County,3397,76,2.24,81,2.38,87,2.56,126,...,265,7.80,327,9.63,374,11.01,412,12.13,434,12.78

In [58]:
exportDF = pd.DataFrame( columns = ["county_code","county_name", "labor_force", "file_week_ended", "percent_unemployed", "continued_claims"])

exportDF

Empty DataFrame
Columns: [county_code, county_name, labor_force, file_week_ended, percent_unemployed, continued_claims]
Index: []

In [59]:
newRows = []
for index, row in countyUnemployment.iterrows():
        
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended": "2020-03-07",
                "percent_unemployed": row["PU07MAR"],
                "total_unemployed": row["UE07MAR"]}
    
    newRows.append(myNewRow)

    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-03-14",
                "percent_unemployed" : row["PU14MAR"],
                "total_unemployed" : row["UE14MAR"]}
    
    newRows.append(myNewRow)
                  
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended": "2020-03-21",
                "percent_unemployed": row["PU21MAR"],
                "total_unemployed" : row["UE21MAR"]}
    
    newRows.append(myNewRow)
                  
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-03-28",
                "percent_unemployed" : row["PU28MAR"],
                "total_unemployed" : row["UE28MAR"]}
    
    newRows.append(myNewRow)
                  
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-04-04",
                "percent_unemployed" : row["PU04APR"],
                "total_unemployed" : row["UE04APR"]}
    
    newRows.append(myNewRow)
                  
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-04-11",
                "percent_unemployed" : row["PU11APR"],
                "total_unemployed" : row["UE11APR"]}
    
    newRows.append(myNewRow)
                  
    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-04-18",
                "percent_unemployed": row["PU18APR"],
                "total_unemployed" : row["UE18APR"]}
              
    newRows.append(myNewRow)

    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended" : "2020-04-25",
                "percent_unemployed" : row["PU25APR"],
                "total_unemployed" : row["UE25APR"]}
    
    newRows.append(myNewRow)

    myNewRow = {"county_code" : row["CO"],
                "county_name" : row["NAME"],
                "labor_force" : row["LBF"],
                "file_week_ended": "2020-05-02",
                "percent_unemployed": row["PU02MAY"],
                "total_unemployed": row["UE02MAY"]}
              
    newRows.append(myNewRow)

In [60]:
exportDF = pd.DataFrame(newRows)

In [61]:
exportDF

,county_code,county_name,labor_force,file_week_ended,percent_unemployed,total_unemployed
0,1001,Autauga County,25819,2020-03-07,2.69,694
1,1001,Autauga County,25819,2020-03-14,2.78,718
2,1001,Autauga County,25819,2020-03-21,3.34,862
3,1001,Autauga County,25819,2020-03-28,7.47,1929
4,1001,Autauga County,25819,2020-04-04,12.92,3336
...,...,...,...,...,...,...
28273,56045,Weston County,3397,2020-04-04,7.80,265
28274,56045,Weston County,3397,2020-04-11,9.63,327
28275,56045,Weston County,3397,2020-04-18,11.01,374
28276,56045,Weston County,3397,2020-04-25,12.13,412
28277,56045,Weston County,3397,2020-05-02,12.78,434

In [62]:
exportDF.to_csv("AGS_Data_Massaged.csv", index=False)